<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <!-- use Spring default values -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
<!--        <encoder>-->
<!--            <pattern>${CONSOLE_LOG_PATTERN}</pattern>-->
<!--            <charset>utf8</charset>-->
<!--        </encoder>-->

        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
<!--                %black(%d{HH:mm:ss.SSS}) %highlight(%-5level) [%t] %yellow(%C{0} %method %line): %msg%n%throwable-->
                %clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSSXXX}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr(${LOGGED_APPLICATION_NAME:-}[thread %15.15t]){faint} %clr(%C{0} %method %line){cyan} %clr(:){faint} %m%n

                <!--                %black(%d{HH:mm:ss.SSS}) %highlight(%-5level) [%t] %yellow(%C{0} %method %line): %msg%n%throwable-->
            </Pattern>
        </layout>

    </appender>

    <!-- LOG everything at INFO level -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>