.card {
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.cardImage {
    width: 300px;
    height: 300px;
}

.cardImage-PROD {
    background-color: red;
}

.cardImage-DEV {
    background-color: green;
}

.cardImage-STG {
    background-color: yellow;
}

.pageSection {
    margin-bottom: 100px;
}

@keyframes loader-inner {
    0%, 25%, to {
        height: 0%
    }

    50%, 75% {
        height: 100%
    }
}

@keyframes background-animator {
    0%, to {
        transform: translate(50px, 50px)
    }

    50% {
        transform: translate(-50px, -50px)
    }
}

@keyframes simple-spin {
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes Gradient {
    0%, to {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }
}

@-moz-keyframes Gradient {
    0%, to {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }
}

@keyframes Gradient {
    0%, to {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }
}

@keyframes ReactRingSpinnerAnim {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

@keyframes aboutText-appear {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes container-appear {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }

    to {
        opacity: 1;
        transform: none
    }
}


body, input, textarea {
    font-family: "Roboto", sans-serif;
    font-weight: 400
}

@media (max-width: 1200px) {
    .grid {
        margin: -3px
    }
}

@media (max-width: 600px) {
    .grid {
        margin: -1px
    }
}

@media all and (min-width: 241px) and (max-width: 480px) {
    .toast-container .toast.div {
        padding: 8px 8px 8px 50px;
        width: 18em
    }

    .toast-container .toast-close-button {
        right: -.2em;
        top: -.2em
    }
}

body, html {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased
}

body, body *, body :after, body :before {
    box-sizing: border-box
}

body {
    color: #0c1012;
    background: #eaedf1;
    overflow-y: auto
}

.FrontPageTopBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 40px;
    color: #fff;
    transition: 100ms backdrop-filter, 100ms box-shadow, 100ms background-color
}

@media (max-width: 500px) {
    .FrontPageTopBar {
        padding: 20px
    }
}

.FrontPageTopBar .Logo {
    fill: #fff;
    transition: 100ms fill;
    height: 40px;
    margin-top: -15px;
    margin-bottom: -15px
}

.FrontPageTopBar .Logo.text {
    display: block
}

.FrontPageTopBar .Logo.icon {
    display: none
}

@media (max-width: 500px) {
    .FrontPageTopBar .Logo.text {
        display: none
    }

    .FrontPageTopBar .Logo.icon {
        display: block
    }
}

.FrontPageTopBar .Spacer {
    flex: 1
}


.FrontPageTopBar.fixed {
    box-shadow: 0 0 30px #0008
}

@supports (backdrop-filter: blur(2px)) {
    .FrontPageTopBar.blur {
        backdrop-filter: brightness(.6) blur(12px) opacity(0)
    }

    .FrontPageTopBar.blur.fixed {
        backdrop-filter: brightness(.6) blur(12px) opacity(1)
    }
}

@supports not (backdrop-filter: blur(2px)) {
    .FrontPageTopBar.fixed.blur {
        background-color: #000d
    }
}

.FrontPageTopBar.fixed.solid {
    background-color: #fff;
    color: #000
}

.FrontPageTopBar.fixed.solid .Logo {
    fill: #0085ff
}


.FrontPageSection > div .Spacer {
    width: 40px;
    height: auto;
    flex-shrink: 0
}

@media (max-width: 800px) {
    .FrontPageSection > div .Spacer {
        width: auto;
        height: 40px
    }
}

.FrontPageTopBar .ButtonGroup {
    display: flex;
    flex-direction: row
}

.FrontPageTopBar .ButtonGroup > :not(:first-child) {
    margin-left: 30px
}

@media (max-width: 500px) {
    .FrontPageTopBar .ButtonGroup > :not(:first-child) {
        margin-left: 20px
    }
}


.TopBarButtonText.light {
    color: #fff
}

.TopBarButtonText.dark {
    color: #000
}

.TopBarButtonText:hover {
    text-decoration: underline
}


.FrontPageSection > div {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    text-align: left
}

@media (max-width: 800px) {
    .FrontPageSection > div {
        flex-direction: column
    }
}

.FrontPageSection > div h1 {
    max-width: 80%;
    font-size: 36px
}


.FrontPageSection > div .Text {
    flex-basis: 500px;
    flex: 1
}

.FrontPageSection > div .Text p {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 26px
}

.FrontPageSection > div .Image {
    display: inline-block;
    max-width: 400px;
    flex-basis: 400px;
    flex: 1;
    align-self: flex-start
}

@media (max-width: 800px) {
    .FrontPageSection > div .Image {
        align-self: center
    }
}

.FrontPageSection > div .Image img {
    display: block;
    max-width: 100%;
    border-radius: 30px
}

.FrontPageFooter span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center
}

@media (max-width: 1000px) {
}

@media (max-width: 820px) {
}

.FPFrontPage .SectionCreator .topContainer .header {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 18px
}

.FPFrontPage .SectionCreator .topContainer .body {
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 20px
}