<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout"
      lang="en">
<head>
    <script src="http://localhost:35729/livereload.js"></script>
    <title>test 222</title>
</head>
<body>

<div class="container">
    <!--    <div th:each="a : ${}">-->
    <!---->
    <!--    </div>-->

    <table>
        <thead>
        <tr>
            <th>11111</th>
            <th>22222</th>
            <th>33333</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="build: ${builds.value}">
          <td th:text="${build.code}">
          <td th:text="${build.name}">
          <td th:text="${build.branch}">
        </tr>
        </tbody>
    </table>

</div>
</body>

<link rel="stylesheet" href="css/main.css"/>
<link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.css"/>
<script defer src="http://localhost:35729/livereload.js"></script>

</html>
<script>
    var objeto = {
        teste: "aaaa",
        segundo: 1111,
        aa: "bbb"
    };

    // const replacerFunction = function(key, value) {
    //     console.log(key, value);
    //
    //     return value;
    // }

    const replacerFunction = ['aa'];

    console.log(JSON.stringify(objeto, replacerFunction));
</script>