<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout"
      lang="en">
<head>
    <title>test 222</title>
</head>
<body>

<div class="container">
    <h1 th:text="${aaaa}">${aaaa}</h1>
    <!--    <div th:each="a : ${}">-->
    <!---->
    <!--    </div>-->
</div>
</body>

<link rel="stylesheet" href="css/main.css"/>
<link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.css"/>
<script defer src="http://localhost:35729/livereload.js"></script>

</html>