<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Expression utility objects</title>
</head>
<body>
<div class="container">
  <h1>Lists</h1>
  <p th:text="${list}"></p>
  <p><b>List size: </b> <span th:text="${list.size}"></span></p>

  List is not null:
  <div th:if="${list} != null">
    <p><b>List: </b> <span>List is not null!</span></p>
  </div>

  List is null
  <div th:if="${list} == null">
    <p><b>List: </b> <span>List is null!</span></p>
  </div>

  Non existing list
  <div th:if="${listaaa} == null">
    <p><b>List: </b> <span>Listaaa is null!</span></p>
  </div>

  aasdasda

  <h1>Date expression utility</h1>
  <p><b>Iso format</b> <span th:text="${#dates.formatISO(date)}"></span></p>
  <p><b>Format with pattern</b> <span th:text="${#dates.format(date, 'dd-MM-yyyy HH:mm')}"></span></p>
  <p><b>Format with pattern (2):</b> <span th:text="${#dates.format(date, 'dd/MM/yyyy HH:mm')}"></span></p>
  <p><b>Day of week name</b> <span th:text="${#dates.dayOfWeekName(date)}"></span></p>
  <p><b>Now</b> <span th:text="${#dates.createNow()}"></span></p>
  <p><b>Today</b> <span th:text="${#dates.createToday()}"></span></p>

  <h1>Calendar expression utility</h1>
  <p th:text="${#calendars.formatISO(calendar)}"></p>
  <p th:text="${#calendars.format(calendar, 'dd-MM-yyyy HH:mm')}"></p>
  <p th:text="${#calendars.dayOfWeekName(calendar)}"></p>
  <p th:text="${#calendars.createNow().getTime()}"></p>
  <p th:text="${#calendars.createToday().getFirstDayOfWeek()}"></p>

  <h1>Numbers expression utility</h1>
  <p th:text="${#numbers.formatDecimal(num,2,3)}"></p>
  <p th:text="${#numbers.formatDecimal(num,2,3,'COMMA')}"></p>
  <p th:each="number: ${#numbers.sequence(0,2)}">
    <span th:text="${number}"></span>
  </p>
  <p th:each="number: ${#numbers.sequence(0,4,2)}">
    <span th:text="${number}"></span>
  </p>

  <h1>String expression utility</h1>
  <p th:text="'Is Empty: ' +${#strings.isEmpty(string)}"></p>
  <p th:text="'Is Empty: ' +${#strings.isEmpty(nullString)}"></p>
  <p th:text="'Default string: ' +${#strings.defaultString(emptyString,'Empty String')}"></p>
  <p th:text="'Contains ignore case: ' +${#strings.containsIgnoreCase(string,'new')}"></p>
  <p th:text="'Abbreviate: ' +${#strings.abbreviate(string,5)} "></p>
  <p th:text="'Capitalize: ' +${#strings.capitalizeWords(string)}"></p>

  <h1>Aggregates expression utility</h1>
  <p>Array: 1, 3, 4, 5</p>
  <p>Set: 1, 3, 8</p>

  <p th:text="'Sum array:  ' +${#aggregates.sum(array)}"></p>
  <p th:text="'Average array: ' +${#aggregates.avg(array)}"></p>
  <p th:text="'Sum set: ' +${#aggregates.sum(set)}"></p>
  <p th:text="'Average set: ' +${#aggregates.avg(set)}"></p>
</div>
</body>
<link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.css"/>
</html>